.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mySwiper .swiper-slide {
  width: 220px;   /* smaller width */
  height: 320px;  /* smaller height */
  border-radius: 16px;
  overflow: hidden;
}

.mySwiper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}